<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/requirements.css">
<link rel="stylesheet" href="/css/build.css">
<link rel="stylesheet" href="/Chart.css">
<link rel="stylesheet" href="/css/result.css">
<script src="/Chart.js"></script>
<!-- <script src="/utils.js"></script> -->
</head>

<body>
    <%- include('./includes/navbar.ejs') %>
    <!-- <% if(tribedetails.businessname === 94679) {%>BusinessName===Australia Retail And Commercial<%} else {%>Yes<%} %> -->
    <div class="contents" id="survey_result">
        <div class="page-height result-main-bg">


            <input type="hidden" name="tribedata" value="tribedetails.businessname %>">
            <h1 class="welcome"> Your Assessment Result</h1>
            <div class="col-md-7 survey-submit text-center">
                <div class="btn-box text-center">
                    <span class="btnn">
                        
                        <a href="/survey/send-result" id="example" class="btn btn-default btn-lg mysubmit font-weight-bold">
                            >>> Click here to Send Results to mail
                        </a>
                    </span>
                </div>
            </div>
            <div class="container">
                <div class="headline">
                    <h4 class="text-center assessment">Assessment Result for <%- tribedetails.tribename%></h4>
                    <span class="tribe-detail">
                        <p class="text-center tribe-detail">
                            <ol>
                                <% if(tribedetails.businessname === '94671'){ %>
                                    <li>Business Name: Australia Retail And Commercial </li>
                                <% } else if(tribedetails.businessname === '94672'){ %>
                                    <li>Business Name: Banking Services </li>
								<% } else if(tribedetails.businessname === '94673'){ %>
                                    <li>Business Name: Business Automation And Integration </li>
								<% } else if(tribedetails.businessname === '94674'){ %>
                                    <li>Business Name: Customer Operations </li>
								<% } else if(tribedetails.businessname === '94675'){ %>
                                    <li>Business Name: Data Services </li>
								<% } else if(tribedetails.businessname === '94676'){ %>
                                    <li>Business Name: Employee Experience </li>
								<% } else if(tribedetails.businessname === '94677'){ %>
                                    <li>Business Name: Infrastructure As A Service </li>
								<% } else if(tribedetails.businessname === '94678'){ %>
                                    <li>Business Name: Institutional </li>
								<% } else if(tribedetails.businessname === '94679'){ %>
                                    <li>Business Name: New Zealand </li>
								<% } else if(tribedetails.businessname === '94680'){ %>
                                    <li>Business Name: Security</li>
								<% } else if(tribedetails.businessname === '94681'){ %>
                                    <li>Business Name: Technology Business Management </li>
								<% } else if(tribedetails.businessname === '94682'){ %>
                                    <li>Business Name: Technology Transformation </li>
								<% } else if(tribedetails.businessname === '94683'){ %>
                                    <li>Business Name: Wealth </li>
                                <% } else{ %>
                                    <li>Business Name: UnknownBusiness </li>
                                <% } %>


                                <% if(tribedetails.tribename === '94712'){ %>
                                    <li>Tribe Name: Assurance COE </li>
                                <% } else if(tribedetails.tribename === '94741'){ %>
                                    <li>Tribe Name: Assurance Compliance And Security </li>
								<% } else if(tribedetails.tribename === '94708'){ %>
                                    <li>Tribe Name: BAI Domain Exec </li>
								<% } else if(tribedetails.tribename === '94684'){ %>
                                    <li>Tribe Name: Banker Experience </li>
								<% } else if(tribedetails.tribename === '94748'){ %>
                                    <li>Tribe Name: Tribe Automation &amp; Integration </li>
								<% } else if(tribedetails.tribename === '94685'){ %>
                                    <li>Tribe Name: Tribe Lending </li>
								<% } else if(tribedetails.tribename === '94763'){ %>
                                    <li>Tribe Name: Tribe Operations </li>
								<% } else if(tribedetails.tribename === '94686'){ %>
                                    <li>Tribe Name: Tribe Owners< </li>
								<% } else if(tribedetails.tribename === '94731'){ %>
                                    <li>Tribe Name: Cloud Services </li>
								<% } else if(tribedetails.tribename === '94732'){ %>
                                    <li>Tribe Name: Commodity Compute Services</li>
								<% } else if(tribedetails.tribename === '94749'){ %>
                                    <li>Tribe Name: Core Banking </li>
								<% } else if(tribedetails.tribename === '94687'){ %>
                                    <li>Tribe Name: Core Systems </li>
								<% } else if(tribedetails.tribename === '94723'){ %>
                                    <li>Tribe Name: Corporate Experience </li>
								<% } else if(tribedetails.tribename === '94713'){ %>
                                    <li>Tribe Name: Credit Cards And Personal Lending </li>
								<% } else if(tribedetails.tribename === '94688'){ %>
                                    <li>Tribe Name: Customer Authentication </li>
								<% } else if(tribedetails.tribename === '94689'){ %>
                                    <li>Tribe Name: Customer Contact</li>
								<% } else if(tribedetails.tribename === '94690'){ %>
                                    <li>Tribe Name: Customer Self Service </li>
								<% } else if(tribedetails.tribename === '94714'){ %>
                                    <li>Tribe Name: Customer Service Operations </li>
								<% } else if(tribedetails.tribename === '94758'){ %>
                                    <li>Tribe Name: Cyber Defence </li>
								<% } else if(tribedetails.tribename === '94750'){ %>
                                    <li>Tribe Name: Data &amp; Analytics </li>
								<% } else if(tribedetails.tribename === '94733'){ %>
                                    <li>Tribe Name: Data Centre Management Services </li>
								<% } else if(tribedetails.tribename === '94718'){ %>
                                    <li>Tribe Name: Data Ecosystem And Advanced Analytics</li>
								<% } else if(tribedetails.tribename === '94719'){ %>
                                    <li>Tribe Name: Data Lifecycle Evolution </li>
								<% } else if(tribedetails.tribename === '94720'){ %>
                                    <li>Tribe Name: Data Services - Customer </li>
								<% } else if(tribedetails.tribename === '94721'){ %>
                                    <li>Tribe Name: Data Services - Group</li>
								<% } else if(tribedetails.tribename === '94691'){ %>
                                    <li>Tribe Name: Deposits &amp; Wealth </li>
								<% } else if(tribedetails.tribename === '94715'){ %>
                                    <li>Tribe Name: Deposits And Wealth </li>
								<% } else if(tribedetails.tribename === '94692'){ %>
                                    <li>Tribe Name: Digital Customer Experience </li>
								<% } else if(tribedetails.tribename === '94742'){ %>
                                    <li>Tribe Name: Digital Data And Transaction Banking </li>
								<% } else if(tribedetails.tribename === '94693'){ %>
                                    <li>Tribe Name: Digital Sales Experience </li>
								<% } else if(tribedetails.tribename === '94709'){ %>
                                    <li>Tribe Name: Document And Knowledge Management </li>
								<% } else if(tribedetails.tribename === '94773'){ %>
                                    <li>Tribe Name: Edison </li>
								<% } else if(tribedetails.tribename === '94751'){ %>
                                    <li>Tribe Name: Employee Experience </li>
								<% } else if(tribedetails.tribename === '94724'){ %>
                                    <li>Tribe Name: Enablement </li>
								<% } else if(tribedetails.tribename === '94769'){ %>
                                    <li>Tribe Name: Engineering Acceleration</li>
								<% } else if(tribedetails.tribename === '94710'){ %>
                                    <li>Tribe Name: Enterprise Apis &amp; Integration Services </li>
								<% } else if(tribedetails.tribename === '94734'){ %>
                                    <li>Tribe Name: Enterprise Compute </li>
								<% } else if(tribedetails.tribename === '94764'){ %>
                                    <li>Tribe Name: Enterprise Continuity </li>
								<% } else if(tribedetails.tribename === '94722'){ %>
                                    <li>Tribe Name: Enterprise Data Platforms </li>
								<% } else if(tribedetails.tribename === '94765'){ %>
                                    <li>Tribe Name: Enterprise Enablement </li>
								<% } else if(tribedetails.tribename === '94725'){ %>
                                    <li>Tribe Name: Enterprise Mobility </li>
								<% } else if(tribedetails.tribename === '94726'){ %>
                                    <li>Tribe Name: Enterprise Mobility Tech Area </li>
								<% } else if(tribedetails.tribename === '94700'){ %>
                                    <li>Tribe Name: Enterprise Risk Technology Services </li>
								<% } else if(tribedetails.tribename === '94694'){ %>
                                    <li>Tribe Name: Everyday Banking </li>
								<% } else if(tribedetails.tribename === '94701'){ %>
                                    <li>Tribe Name: Financial Crime &amp; Retail Decisioning </li>
								<% } else if(tribedetails.tribename === '94743'){ %>
                                    <li>Tribe Name: Fixed Income-Derivatives-Currencies &amp; Market Risk </li>
								<% } else if(tribedetails.tribename === '94744'){ %>
                                    <li>Tribe Name: Foreign Exchange Services</li>
								<% } else if(tribedetails.tribename === '94716'){ %>
                                    <li>Tribe Name: Fraud Collections And Workflow </li>
								<% } else if(tribedetails.tribename === '94695'){ %>
                                    <li>Tribe Name: Home Lending </li>
								<% } else if(tribedetails.tribename === '94696'){ %>
                                    <li>Tribe Name: Home Owners </li>
								<% } else if(tribedetails.tribename === '94735'){ %>
                                    <li>Tribe Name: Iaas Enablement Services </li>
								<% } else if(tribedetails.tribename === '94736'){ %>
                                    <li>Tribe Name: Iaas Platform Services </li>
								<% } else if(tribedetails.tribename === '94766'){ %>
                                    <li>Tribe Name: Identity Access Management </li>
								<% } else if(tribedetails.tribename === '94759'){ %>
                                    <li>Tribe Name: Information Protection </li>
								<% } else if(tribedetails.tribename === '94745'){ %>
                                    <li>Tribe Name: Institutional Support &amp; Tech Operations </li>
								<% } else if(tribedetails.tribename === '94774'){ %>
                                    <li>Tribe Name: Insurance Services </li>
								<% } else if(tribedetails.tribename === '94702'){ %>
                                    <li>Tribe Name: Integration Services </li>
								<% } else if(tribedetails.tribename === '94697'){ %>
                                    <li>Tribe Name: Marketing Aus COE </li>
								<% } else if(tribedetails.tribename === '94698'){ %>
                                    <li>Tribe Name: Net Promoter System COE</li>
								<% } else if(tribedetails.tribename === '94737'){ %>
                                    <li>Tribe Name: Network &amp; Storage Services </li>
								<% } else if(tribedetails.tribename === '94738'){ %>
                                    <li>Tribe Name: Network And Storage Services </li>
								<% } else if(tribedetails.tribename === '94770'){ %>
                                    <li>Tribe Name: New Ways Of Delivery - COE </li>
								<% } else if(tribedetails.tribename === '94752'){ %>
                                    <li>Tribe Name: New Zealand </li>
								<% } else if(tribedetails.tribename === '94771'){ %>
                                    <li>Tribe Name: NWOW @ Scale </li>
								<% } else if(tribedetails.tribename === '94753'){ %>
                                    <li>Tribe Name: NZ &amp; Pacific </li>
								<% } else if(tribedetails.tribename === '94754'){ %>
                                    <li>Tribe Name: Omni Channel Assisted </li>
								<% } else if(tribedetails.tribename === '94755'){ %>
                                    <li>Tribe Name: Omni Channel Customer Experience </li>
								<% } else if(tribedetails.tribename === '94703'){ %>
                                    <li>Tribe Name: Open Banking </li>
								<% } else if(tribedetails.tribename === '94767'){ %>
                                    <li>Tribe Name: Operational Tools &amp; Services </li>
								<% } else if(tribedetails.tribename === '94746'){ %>
                                    <li>Tribe Name: Operations Automation And Core Banking </li>
								<% } else if(tribedetails.tribename === '94704'){ %>
                                    <li>Tribe Name: Payments And Merchant Services</li>
								<% } else if(tribedetails.tribename === '94705'){ %>
                                    <li>Tribe Name: Payments And Transactions Services </li>
								<% } else if(tribedetails.tribename === '94756'){ %>
                                    <li>Tribe Name: Payments Wholesale Switching </li>
								<% } else if(tribedetails.tribename === '94739'){ %>
                                    <li>Tribe Name: Platform And Enablement Services </li>
								<% } else if(tribedetails.tribename === '94747'){ %>
                                    <li>Tribe Name: Regulatory And Compliance </li>
								<% } else if(tribedetails.tribename === '94699'){ %>
                                    <li>Tribe Name: Responsible Banking </li>
								<% } else if(tribedetails.tribename === '94706'){ %>
                                    <li>Tribe Name: Retail Credit Risk </li>
								<% } else if(tribedetails.tribename === '94760'){ %>
                                    <li>Tribe Name: Risk Management </li>
								<% } else if(tribedetails.tribename === '94761'){ %>
                                    <li>Tribe Name: Security In Change COE </li>
								<% } else if(tribedetails.tribename === '94717'){ %>
                                    <li>Tribe Name: Simplification COE </li>
								<% } else if(tribedetails.tribename === '94740'){ %>
                                    <li>Tribe Name: Strategic Initiatives </li>
								<% } else if(tribedetails.tribename === '94762'){ %>
                                    <li>Tribe Name: Strategy Influence And Policy </li>
								<% } else if(tribedetails.tribename === '94727'){ %>
                                    <li>Tribe Name: Support </li>
								<% } else if(tribedetails.tribename === '94768'){ %>
                                    <li>Tribe Name: TBM Office </li>
								<% } else if(tribedetails.tribename === '94728'){ %>
                                    <li>Tribe Name: Teaming </li>
								<% } else if(tribedetails.tribename === '94757'){ %>
                                    <li>Tribe Name: Tech Operations </li>
								<% } else if(tribedetails.tribename === '94729'){ %>
                                    <li>Tribe Name: Testing Services </li>
								<% } else if(tribedetails.tribename === '94772'){ %>
                                    <li>Tribe Name: Transform And Operate </li>
								<% } else if(tribedetails.tribename === '94775'){ %>
                                    <li>Tribe Name: Wealth </li>
								<% } else if(tribedetails.tribename === '94707'){ %>
                                    <li>Tribe Name: Wholesale Group Risk </li>
								<% } else if(tribedetails.tribename === '94711'){ %>
                                    <li>Tribe Name: Workflow And Automation </li>
								<% } else if(tribedetails.tribename === '94730'){ %>
                                    <li>Tribe Name: Workplace </li>
                                <% } else{ %>
                                    <li>Tribe Name: UnknownTribe </li>
                                <% } %>
                                <li>Squad Name: <%- tribedetails.squadname%></li>
                                <li>Date of commencement: <%- date%></li>
                            </ol>
                        </p>

                    </span>
                </div>
                <div class="row result-bg">
                    <div class="col-md-6 col-lg-3">
                        <canvas id="requirements_chart" width="400" height="400"></canvas>

                        <h4 class="chart-title text-center">Requirements Result</h4>
                        <div class="donut-inner">
                            <h6>Basic Requirements Score: <%=stats.requirements.requirements_basic.yes %>/7</h6>
                            <h6>Inter Requirements Score: <%=stats.requirements.requirements_intermediate.yes %>/4</h6>
                            <h6>Mature Requirements Score: <%=stats.requirements.requirements_mature.yes %>/3</h6>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <canvas id="testing_chart" width="400" height="400"></canvas>
                        <h4 class="chart-title text-center">Testing Result</h4>
                        <div class="donut-inner">
                            <h6>Basic Testing Score: <%=stats.testing.testing_basic.yes %>/10</h6>
                            <h6>Inter Testing Score: <%=stats.testing.testing_intermediate.yes %>/6</h6>
                            <h6>Mature Testing Score: <%=stats.testing.testing_mature.yes %>/7</h6>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <canvas id="build_chart" width="400" height="400"></canvas>
                        <h4 class="chart-title text-center">Build Result</h4>
                        <div class="donut-inner">
                            <h6>Basic Build Score: <%=stats.build.build_basic.yes %>/7</h6>
                            <h6>Inter Build Score: <%=stats.build.build_intermediate.yes %>/5</h6>
                            <h6>Mature Build Score: <%=stats.build.build_mature.yes %>/6</h6>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <canvas id="deploy_chart" width="400" height="400"></canvas>
                        <h4 class="chart-title text-center">Deploy Result</h4>
                        <div class="donut-inner">
                            <h6>Basic Deploy Score: <%=stats.deploy.deploy_basic.yes %>/6</h6>
                            <h6>Inter Deploy Score: <%=stats.deploy.deploy_intermediate.yes %>/5</h6>
                            <h6>Mature Deploy Score: <%=stats.deploy.deploy_mature.yes %>/6</h6>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                var ctx_requirements = document.getElementById('requirements_chart').getContext('2d');
                var ctx_testing = document.getElementById('testing_chart').getContext('2d');
                var ctx_build = document.getElementById('build_chart').getContext('2d');
                var ctx_deploy = document.getElementById('deploy_chart').getContext('2d');

                var requirements_basic_yes = JSON.parse(JSON.stringify('<%=stats.requirements.requirements_basic.no %>'));
                var requirements_basic_yes = JSON.parse(JSON.stringify('<%=stats.requirements.requirements_basic.yes %>'));
                var requirements_intermediate_yes = JSON.parse(JSON.stringify('<%=stats.requirements.requirements_intermediate.no %>'));
                var requirements_intermediate_yes = JSON.parse(JSON.stringify('<%=stats.requirements.requirements_intermediate.yes %>'));
                var requirements_mature_yes = JSON.parse(JSON.stringify('<%=stats.requirements.requirements_mature.no %>'));
                var requirements_mature_yes = JSON.parse(JSON.stringify('<%=stats.requirements.requirements_mature.yes %>'));


                var testing_basic_yes = JSON.parse(JSON.stringify('<%=stats.testing.testing_basic.no %>'));
                var testing_basic_yes = JSON.parse(JSON.stringify('<%=stats.testing.testing_basic.yes %>'));
                var testing_intermediate_yes = JSON.parse(JSON.stringify('<%=stats.testing.testing_intermediate.no %>'));
                var testing_intermediate_yes = JSON.parse(JSON.stringify('<%=stats.testing.testing_intermediate.yes %>'));
                var testing_mature_yes = JSON.parse(JSON.stringify('<%=stats.testing.testing_mature.no %>'));
                var testing_mature_yes = JSON.parse(JSON.stringify('<%=stats.testing.testing_mature.yes %>'));


                var build_basic_yes = JSON.parse(JSON.stringify('<%=stats.build.build_basic.no %>'));
                var build_basic_yes = JSON.parse(JSON.stringify('<%=stats.build.build_basic.yes %>'));
                var build_intermediate_yes = JSON.parse(JSON.stringify('<%=stats.build.build_intermediate.no %>'));
                var build_intermediate_yes = JSON.parse(JSON.stringify('<%=stats.build.build_intermediate.yes %>'));
                var build_mature_yes = JSON.parse(JSON.stringify('<%=stats.build.build_mature.no %>'));
                var build_mature_yes = JSON.parse(JSON.stringify('<%=stats.build.build_mature.yes %>'));


                var deploy_basic_yes = JSON.parse(JSON.stringify('<%=stats.deploy.deploy_basic.no %>'));
                var deploy_basic_yes = JSON.parse(JSON.stringify('<%=stats.deploy.deploy_basic.yes %>'));
                var deploy_intermediate_yes = JSON.parse(JSON.stringify('<%=stats.deploy.deploy_intermediate.no %>'));
                var deploy_intermediate_yes = JSON.parse(JSON.stringify('<%=stats.deploy.deploy_intermediate.yes %>'));
                var deploy_mature_yes = JSON.parse(JSON.stringify('<%=stats.deploy.deploy_mature.no %>'));
                var deploy_mature_yes = JSON.parse(JSON.stringify('<%=stats.deploy.deploy_mature.yes %>'));

                var background_basic = '';
                if ((requirements_basic_yes / 7) < 0.5) {
                    background_basic = '#eb1919';
                }
                else if (0.7 > (requirements_basic_yes / 7) > 0.5) {
                    background_basic = '#e7a412';
                }
                else {
                    background_basic = '#39e20f';
                }

                var background_intermediate = '';
                if ((requirements_intermediate_yes / 4) < 0.5) {
                    background_intermediate = '#eb1919';
                }
                else if (0.7 > (requirements_intermediate_yes / 4) > 0.5) {
                    background_intermediate = '#e7a412';
                }
                else {
                    background_intermediate = '#39e20f';
                }

                var background_mature = '';
                if ((requirements_mature_yes / 3) < 0.5) {
                    background_mature = '#eb1919';
                }
                else if (0.7 > (requirements_mature_yes / 3) > 0.5) {
                    background_mature = '#e7a412';
                }
                else {
                    background_mature = '#39e20f';
                }

                var reqData = {
                    labels: [
                        "BASIC",
                        "INTERMEDIATE",
                        "MATURE"
                    ],
                    datasets: [
                        {
                            label: "Competency",
                            data: [requirements_basic_yes, requirements_intermediate_yes, requirements_mature_yes],
                            backgroundColor: [background_basic, background_intermediate, background_mature],
                            //hoverBackgroundColor: ["#4ebd32"," #e9bc5a",  "#cf2c2c"]
                        }]
                };

                var background_testing_basic = '';

                if ((testing_basic_yes / 10) < 0.5) {
                    background_testing_basic = '#eb1919';
                }
                else if (0.7 > (testing_basic_yes / 10) > 0.5) {
                    background_testing_basic = '#e7a412';
                }
                else {
                    background_testing_basic = '#39e20f';
                }

                var background_testing_intermediate = '';

                console.log((testing_intermediate_yes / 6));
                if ((testing_intermediate_yes / 6) < 0.5) {
                    background_testing_intermediate = '#eb1919';
                }
                else if (0.7 > (testing_intermediate_yes / 6) > 0.5) {
                    background_testing_intermediate = '#e7a412';
                }
                else {
                    background_testing_intermediate = '#39e20f';
                }

                var background_testing_mature = '';
                if ((testing_mature_yes / 7) < 0.5) {
                    background_testing_mature = '#eb1919';
                }
                else if (0.7 > (testing_mature_yes / 7) > 0.5) {
                    background_testing_mature = '#e7a412';
                }
                else {
                    background_testing_mature = '#39e20f';
                }

                var testData = {
                    labels: [
                        "BASIC",
                        "INTERMEDIATE",
                        "MATURE"
                    ],
                    datasets: [
                        {
                            label: "Competency",
                            data: [testing_basic_yes, testing_intermediate_yes, testing_mature_yes],
                            backgroundColor: [background_testing_basic, background_testing_intermediate, background_testing_mature],
                            //hoverBackgroundColor: ["#4ebd32"," #e9bc5a",  "#cf2c2c"]
                        }]
                };

                /* Design for Build Graph */

                var background_build_basic = '';
                if ((build_basic_yes / 7) < 0.5) {
                    background_build_basic = '#eb1919';
                }
                else if (0.7 > (build_basic_yes / 7) > 0.5) {
                    background_build_basic = '#e7a412';
                }
                else {
                    background_build_basic = '#39e20f';
                }

                var background_build_intermediate = '';
                if ((build_intermediate_yes / 5) < 0.5) {
                    background_build_intermediate = '#eb1919';
                }
                else if (0.7 > (build_intermediate_yes / 5) > 0.5) {
                    background_build_intermediate = '#e7a412';
                }
                else {
                    background_build_intermediate = '#39e20f';
                }

                var background_build_mature = '';
                if ((build_mature_yes / 6) < 0.5) {
                    background_build_mature = '#eb1919';
                }
                else if (0.7 > (build_mature_yes / 6) > 0.5) {
                    background_build_mature = '#e7a412';
                }
                else {
                    background_build_mature = '#39e20f';
                }

                var buildData = {
                    labels: [
                        "BASIC",
                        "INTERMEDIATE",
                        "MATURE"
                    ],
                    datasets: [
                        {
                            label: "Competency",
                            data: [build_basic_yes, build_intermediate_yes, build_mature_yes],
                            backgroundColor: [background_build_basic, background_build_intermediate, background_build_mature],
                            //hoverBackgroundColor: ["#4ebd32"," #e9bc5a",  "#cf2c2c"]
                        }]
                };

                /* Design for Deploy Graph */

                var background_deploy_basic = '';
                if ((deploy_basic_yes / 6) < 0.5) {
                    background_deploy_basic = '#eb1919';
                }
                else if (0.7 > (deploy_basic_yes / 6) > 0.5) {
                    background_deploy_basic = '#e7a412';
                }
                else {
                    background_deploy_basic = '#39e20f';
                }

                var background_deploy_intermediate = '';
                if ((deploy_intermediate_yes / 5) < 0.5) {
                    background_deploy_intermediate = '#eb1919';
                }
                else if (0.7 > (deploy_intermediate_yes / 5) > 0.5) {
                    background_deploy_intermediate = '#e7a412';
                }
                else {
                    background_deploy_intermediate = '#39e20f';
                }

                var background_deploy_mature = '';
                if ((deploy_mature_yes / 6) < 0.5) {
                    background_deploy_mature = '#eb1919';
                }
                else if (0.7 > (deploy_mature_yes / 6) > 0.5) {
                    background_deploy_mature = '#e7a412';
                }
                else {
                    background_deploy_mature = '#39e20f';
                }

                var depData = {
                    labels: [
                        "BASIC",
                        "INTERMEDIATE",
                        "MATURE"
                    ],
                    datasets: [
                        {
                            label: "Competency",
                            data: [deploy_basic_yes, deploy_intermediate_yes, deploy_mature_yes],
                            backgroundColor: [background_deploy_basic, background_deploy_intermediate, background_deploy_mature],
                            //hoverBackgroundColor: ["#4ebd32"," #e9bc5a",  "#cf2c2c"]
                        }]
                };

                new Chart(ctx_requirements, {
                    type: 'doughnut',
                    data: reqData,
                    options: {

                        // scales: {
                        //     xAxes: [{
                        //         type: category,
                        //         labels: ['Basic','Intermediate','Mature']
                        //     }]
                        // }
                    }
                });
                new Chart(ctx_testing, {
                    type: 'doughnut',
                    data: testData,
                    options: {
                        // scales: {
                        //     xAxes: [{
                        //         ticks: {
                        //             beginAtZero: true
                        //         }
                        //     }]
                        // }
                    }
                });
                new Chart(ctx_build, {
                    type: 'doughnut',
                    data: buildData,
                    options: {
                        // scales: {
                        //     xAxes: [{
                        //         ticks: {
                        //             beginAtZero: true
                        //         }
                        //     }]
                        // }
                    }
                });
                new Chart(ctx_deploy, {
                    type: 'doughnut',
                    data: depData,
                    options: {
                        // scales: {
                        //     xAxes: [{
                        //         ticks: {
                        //             beginAtZero: true
                        //         }
                        //     }]
                        // }
                    }
                });


            </script>

            <div class="col-md-7 survey-submit text-center">
                <div class="btn-box text-center">
                    <span class="btnn">
                        
                        <a>
                            
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>


</body>

<%- include('./includes/end.ejs') %>