<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/review.css">
</head>

<body>
    <%- include('./includes/navbar.ejs') %>
    <div class="contents" id="requirements">
        <script>
            var questions = JSON.parse('<%- JSON.stringify(questions) %>');
            var assessment = JSON.parse('<%- JSON.stringify(assessment) %>');

            function getQandA(section, comp) {
                Object.keys(assessment.answers[section][comp]).forEach(function (q_no) {
                    var question = questions[section][comp][q_no];
                    var answer = assessment.answers[section][comp][q_no] === "true" ? "YES" : assessment.answers[section][comp][q_no] === "false" ? "NO" : "NA";
                    document.write(
                        `<div class="row">
                            <div class="col-md-10 questions">
                                <p class="data">
                                    ${question}
                                </p>
                            </div>
                            <div class="col-md-2 questions">
                                <span>${answer}</span>
                            </div>
                        </div>`
                    );
                })
            }

        </script>

        <div class="page-height background">
            <h1 class="welcome">Review Assessment</h1>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="answers" value="<%= assessment.answers %>">
            <div class="container">

                <form action="/survey/update-requirements" method="POST" class="resupdate">
                    <div class="row submit text-center">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="user" value="<%= user %>">
                        <input type="submit" id="removefirst" value="Re-do Assessment  >>" class="submit-btn">
                    </div>
                </form>
                <% if(assessment.answered === 4) { %>
                <form action="/survey/result" method="POST" class="resupdate">
                    <div class="row submit text-center">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="user" value="<%= user %>">
                        <input type="submit" id="removesecond" value="View my Assessment Result  >>" class="submit-btn">
                    </div>
                </form>
                <% } %>

                <h6 class="questions text-position">
                    Section 1. Requirements
                </h6>

                <h4 class="text-position">
                    Basic
                    <hr class="rule">
                </h4>
                <!-- Requirement section Basic questions and answers goes here               -->
                <div class="row">
                    <div class="col-md-8 questionsbox">
                        <script>
                            getQandA("requirements","c1");
                        </script>
                    </div>
                </div>
                <h4 class="text-position">
                    <hr class="rule">
                    Intermediate
                    <hr class="rule">
                </h4>
                <!-- Requirement section Intermediate questions and answers goes here               -->

                <div class="row">
                    <div class="col-md-8 questionsbox">
                        <script>
                            getQandA("requirements","c2");
                        </script>
                    </div>
                </div>

                <!-- Requirement section Mature questions and answers goes here               -->
                <h4 class="text-position">
                    Mature
                    <hr class="rule">
                </h4>

                <div class="row">
                    <div class="col-md-8 questionsbox">
                        <script>
                            getQandA("requirements","c3");
                        </script>
                    </div>
                </div>

                <h6 class="questions text-position">
                    Section 2. Testing
                </h6>

                <!-- Testing section Basic questions and answers goes here               -->

                <h4 class="text-position">
                    Basic
                    <hr class="rule">
                </h4>

                <div class="row">
                    <div class="col-md-8 questionsbox">
                        <script>
                            getQandA("testing","c1");
                        </script>
                    </div>
                </div>

                <!-- Testing section Intermediate questions and answers goes here               -->

                <h4 class="text-position">
                    <hr class="rule">
                    Intermediate
                    <hr class="rule">
                </h4>

                <div class="row">
                    <div class="col-md-8 questionsbox">
                        <script>
                            getQandA("testing","c2");
                        </script>
                    </div>
                </div>

                <!-- Testing section Mature questions and answers goes here               -->

                <h4 class="text-position">
                    Mature
                    <hr class="rule">
                </h4>

                <div class="row">
                    <div class="col-md-8 questionsbox">
                        <script>
                            getQandA("testing","c3");
                        </script>
                    </div>
                </div>


                <h6 class="questions text-position">
                    Section 3. Build
                </h6>

                <!-- Build section Basic questions and answers goes here               -->

                <h4 class="text-position">
                    Basic
                    <hr class="rule">
                </h4>

                <div class="row">
                    <div class="col-md-8 questionsbox">
                        <script>
                            getQandA("build","c1");
                        </script>
                    </div>
                </div>

                <!-- Build section Intermediate questions and answers goes here               -->

                <h4 class="text-position">
                    <hr class="rule">
                    Intermediate
                    <hr class="rule">
                </h4>

                <div class="row">
                    <div class="col-md-8 questionsbox">
                        <script>
                            getQandA("build","c2");
                        </script>
                    </div>
                </div>

                <!-- Build section Mature questions and answers goes here               -->

                <h4 class="text-position">
                    Mature
                    <hr class="rule">
                </h4>

                <div class="row">
                    <div class="col-md-8 questionsbox">
                        <script>
                            getQandA("build","c3");
                        </script>
                    </div>
                </div>

                <h6 class="questions text-position">
                    Section 4. Deploy
                </h6>

                <!-- Deploy section Basic questions and answers goes here               -->

                <h4 class="text-position">
                    Basic
                    <hr class="rule">
                </h4>

                <div class="row">
                    <div class="col-md-8 questionsbox">
                        <script>
                            getQandA("deploy","c1");
                        </script>
                    </div>
                </div>

                <!-- Deploy section Intermediate questions and answers goes here               -->

                <h4 class="text-position">
                    <hr class="rule">
                    Intermediate
                    <hr class="rule">
                </h4>

                <div class="row">
                    <div class="col-md-8 questionsbox">
                        <script>
                            getQandA("deploy","c2");
                        </script>
                    </div>
                </div>

                <!-- Deploy section Mature questions and answers goes here               -->

                <h4 class="text-position">
                    Mature
                    <hr class="rule">
                </h4>

                <div class="row">
                    <div class="col-md-8 questionsbox">
                        <script>
                            getQandA("deploy","c3");
                        </script>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-7 survey-submit">
                <div class="btn-box">
                    <span class="btnn">
                        <a href="/survey/result" class="submit-btn btn btn-default btn-lg mysubmit font-weight-bold row submit text-center">
                            >>>Click here to view your result
                        </a>
                    </span>
                </div>
            </div> -->
        </div>
    </div>

    <%- include('./includes/end.ejs') %>