<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/requirements.css">
<link rel="stylesheet" href="/css/testing.css">
</head>

<body>
    <%- include('./includes/navbar.ejs') %>
    <div class="contents" id="requirements">
        <div class=" background">
            <!--page-height -->

            <div class="container">
                <% if (errorMessage) { %>
                <div class="user-message user-message--error text-center"><%= errorMessage %></div>
                <% } %>
                <h6 class="welcome">
                    Section 2. Testing
                </h6>

                <div class="guide text-center">
                    <h4>Please answer each question as it is displayed</h4>
                </div>

                <div class="row">
                    <div class="col-md-4 image">

                    </div>

                    <div class="col-md-8 questionsbox">


                        <form style="padding-bottom: 30px;" id="form1" action="/survey/testing" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" name="isUpdating" value="<%= isUpdating %>">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/surveys/test.js"></script>

    <%- include('./includes/end.ejs') %>
    <script>
        var questions = JSON.parse('<%- JSON.stringify(questions) %>'); 
        retriveQuestions(questions);
    </script>

    <% if(locals.showForm) { %>
    <script>
        var answers = JSON.parse('<%- JSON.stringify(showForm) %>');
        fillTheForm(answers);
    </script>

    <% }%>