<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/requirements.css">
<link rel="stylesheet" href="/css/build.css">
</head>

<body>
    <%- include('./includes/navbar.ejs') %>
    <div class="contents" id="requirements">
        <div class="page-height background">
            <input type="hidden" name="user" value="<%= user %>">
            <input type="hidden" name="isUpdating" value="<%= isUpdating %>">
            <div class="container">
                <h6 class="questions heading">
                    Section 3. Build
                </h6>
                <div class="row">
                    <div class="col-md-4 image">

                    </div>
                    <div class="col-md-8 questionsbox">
                        <div class="guide text-center">
                            <h4>Please answer all the questions below</h4>
                        </div>

                        <% if(comp ==='basic') { %>
                            <form action="/survey/build" method="post">
                                <input type="hidden" name="comp" value= <%=comp %> >
                                <div class="row">
                                    <div class="col-md-10 questions">
                                        <p class="data">
                                            1. Is UT automated and triggered from build at least 30%?
                                        </p>
                                    </div>
                                    <div class="col-md-2 value">
                                        <select name="build1" id="none" required >
                                            <option value=""> </option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                2. Is frequency of Builds at least fortnightly?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="build2" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                3. Is the % of successful Builds > 30%?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="build3" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                4. One click deployment to CI environments?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="build4" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                5. Are at least 90% of builds automated?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="build5" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                6. Is Code Coverage at least 85%?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="build6" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                7. Do all builds include automated validation tests?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="build7" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="submit text-center">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="user" value="<%= user %>">
                                    <input type="hidden" name="isUpdating" value="<%= isUpdating %>">
                                    <input type="submit" value="Proceed to Deploy Section >>>">
                                </div>

                            </form>
                        <% } %>
                        
                        <% if(comp ==='inter') { %>
                            <form action="/survey/build" method="post">
                                <input type="hidden" name="comp" value= <%=comp %> >
                                <div class="row">
                                    <div class="col-md-10 questions">
                                        <p class="data">
                                            1. Is UT automated and triggered from build more than 50%?
                                        </p>
                                    </div>
                                    <div class="col-md-2 value">
                                        <select name="build1" id="none" required >
                                            <option value=""> </option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                2. Is frequency of Builds at least weekly?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="build2" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                3. Is the % of successful Builds > 60%?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="build3" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                4. One click deployment to test environments?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="build4" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                5. Do you have an orchestrator to trigger automated builds through source control?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="build5" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>                            

                                <div class="submit text-center">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="user" value="<%= user %>">
                                    <input type="hidden" name="isUpdating" value="<%= isUpdating %>">
                                    <input type="submit" value="Proceed to Deploy Section >>>">
                                </div>

                            </form>
                        <% } %>

                        <% if(comp ==='mature') { %>
                            <form action="/survey/build" method="post">
                                <input type="hidden" name="comp" value= <%=comp %> >
                                <div class="row">
                                    <div class="col-md-10 questions">
                                        <p class="data">
                                            1. Is UT automated and triggered from build at least 90%?
                                        </p>
                                    </div>
                                    <div class="col-md-2 value">
                                        <select name="build1" id="none" required >
                                            <option value=""> </option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                2. Is frequency of Builds at least daily?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="build2" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                3. Is the % of successful Builds > 90%?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="build3" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                4. One click deployment to 'final' pre-prod enviroments?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="build4" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                5. Are at least 95% of builds automated?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="build5" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                6. Is Code Coverage at least 90%?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="build6" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>           

                                <div class="submit text-center">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="user" value="<%= user %>">
                                    <input type="hidden" name="isUpdating" value="<%= isUpdating %>">
                                    <input type="submit" value="Proceed to Deploy Section >>>">
                                </div>

                            </form>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./includes/end.ejs') %>