<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/requirements.css">
</head>

<body>
    <%- include('./includes/navbar.ejs') %>
    <div class="contents" id="requirements">
        <div class="page-height background">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="container">
                <h6 class="questions heading">
                    Section 1. Requirements
                </h6>
                <div class="row">
                    <div class="col-md-4 image">

                    </div>
                    <div class="col-md-8 questionsbox">
                        <div class="guide text-center">
                            <h4>Please answer all the questions below</h4>
                        </div>
                        <% if(comp ==='basic') { %>
                            <form action="/survey/requirements" method="post">
                                <input type="hidden" name="comp" value= <%=comp %> >
                                <div class="row">
                                    <div class="col-md-10 questions">
                                        <p class="data">
                                            1. Do all requirements have Acceptance Criteria?
                                        </p>
                                    </div>
                                    <div class="col-md-2 value">
                                        <select name="req1" id="none" required >
                                            <option value=""> </option>
                                            <option value="true">Yes</option>
                                            <option value="false" selected>No</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                2. Have at least 40% of Requirements been Risk Assessed (RRA) for Testing?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="req2" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                3. Is Testing included in Req Elaboration?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="req3" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                4. Is Testing included in all estimation / planning?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="req4" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                5. Has DoD been agreed?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="req5" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                6. Has Testing of requirements considered non-functional types?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="req6" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                7. Have Non Functional requirements been defined?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="req7" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="submit text-center">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="user" value="<%= user %>">
                                    <input type="hidden" name="isUpdating" value="<%= isUpdating %>">
                                    <input type="submit" value="Proceed to Testing Section >>">
                                </div>

                            </form>
                        <% } %>
                        
                        <% if(comp ==='inter') { %>
                            <form action="/survey/requirements" method="post">
                                <input type="hidden" name="comp" value= <%=comp %> >
                                <div class="row">
                                    <div class="col-md-10 questions">
                                        <p class="data">
                                            1. Does Acceptance criteria include functional and non-functional test types?
                                        </p>
                                    </div>
                                    <div class="col-md-2 value">
                                        <select name="req1" id="none" required >
                                            <option value=""> </option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                2. Have at least 75% of Requirements been Risk Assessed for Testing?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="req2" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                3. Has Test Type Coverage been completed for all requirements?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="req3" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                4. Has testing in / out of sprints been confirmed for each requirement?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="req4" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="submit text-center">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="user" value="<%= user %>">
                                    <input type="hidden" name="isUpdating" value="<%= isUpdating %>">
                                    <input type="submit" value="Proceed to Testing Section >>">
                                </div>

                            </form>
                        <% } %>

                        <% if(comp ==='mature') { %>
                            <form action="/survey/requirements" method="post">
                                <input type="hidden" name="comp" value= <%=comp %> >
                                <div class="row">
                                    <div class="col-md-10 questions">
                                        <p class="data">
                                            1. Is functional testing planned in sprints more than out of sprint?
                                        </p>
                                    </div>
                                    <div class="col-md-2 value">
                                        <select name="req1" id="none" required >
                                            <option value=""> </option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                2. Have all Requirements been Risk Assessed for Testing?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="req2" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-10 questions">
                                            <p class="data">
                                                3. Is non-functional testing planned in sprints more than out of sprints?
                                            </p>
                                        </div>
                                        <div class="col-md-2 value">
                                            <select name="req3" id="none" required >
                                                <option value=""> </option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="submit text-center">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="user" value="<%= user %>">
                                    <input type="hidden" name="isUpdating" value="<%= isUpdating %>">
                                    <input type="submit" value="Proceed to Testing Section >>">
                                </div>

                            </form>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./includes/end.ejs') %>